<div>
    <div class="product" *ngFor="let product of products" [routerLink]="[ '/product', product.id ]">
        <h2>Product Name: {{product.name}}</h2>
        <p>Price: {{product.price | currency:'MMK'}}</p>
        <button>BUY NOW</button>
        <hr>
    </div>
    <h2>Latest News</h2>
    <div class="product" *ngFor="let news of newses" [routerLink]="[ '/news', news.id ]">
        <h2>Title: {{news.message}}</h2>
        <p>Desc: {{news.description}}</p>
        <button>View Detail</button>
        <hr>
    </div>
</div>
